// normalize
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}

h5 {
  color: red;
}

i {
  font-size: 2rem;
  margin: 0 50%;
}

img {
  width: 20rem;
}

// form styling
.form {
  border: chartreuse 2px solid;
  margin: 2rem 0;
}

.cart-wrapper {
  border: cadetblue 2px solid;
  height: auto;
  width: 70vw;
  margin: 3rem 0;
}
.cart-items {
  background-color: rgb(211, 146, 66);
  height: auto;
  width: auto;
}

// list items
.product-wrapper {
  border: 1px black solid;
  padding: 0.5rem;
}
// ul of li
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(2rem);
  width: 80vw;
}

// inventory indicator
.inventory {
  color: blue;
}
