// your scss files should import here 💪🏻
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}
button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}
h5 {
  color: red;
}
i {
  font-size: 2rem;
}

img {
  width: 20rem;
}

.cart-wrapper {
  border: cadetblue 2px solid;
}
.cart-items {
  background-color: bisque;
}

.products-wrapper {
  border: 1px black solid;
}
